@font-face {
  font-family: CookieRun;
  src: url('assets/ttf/CookieRun Regular.ttf')  format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: CookieRun;
  src: url('assets/ttf/CookieRun Bold.ttf')  format('truetype');
  font-weight: bold;
}

* {
  font-family: CookieRun;
}

.vs__dropdown-toggle {
  background-color: white !important;
}